body {
	margin: 0 auto;
	width: 90%
}

footer {
	margin-top: 14px;
	font-size: 12px;
}

.menu {
	background-color: #333;
	width: auto;
}

.pure-button {
	background-color: #333;
}

.pure-button:hover {
	background-color: #eee;
}

.pure-menu-link, .pure-button {
	color: #eee;
}

.pure-menu-link:hover,  .pure-button:hover {
	color: #333;
}

.table {
	width: 100%;
}

.pure-table td {
	padding: 0.1em 0.4em;
}

.pure-button {
	margin: 0;
}

.right {
	float: right;
}

tr.highlight {
	font-weight: bold;
}

tr.dimnish {
	color: #333;
}
